<form action="{{ action }}" method="post" id="checkout-portmone">
    <input type="hidden" name="payee_id" value="{{ payee_id }}">
    <input type="hidden" name="shop_order_number" value="{{ shop_order_number }}">
    <input type="hidden" name="bill_amount" value="{{ bill_amount }}">
    <input type="hidden" name="description" value="{{ description }}">
    <input type="hidden" name="success_url" value="{{ success_url }}">
    <input type="hidden" name="failure_url" value="{{ failure_url }}">
    <input type="hidden" name="preauth_flag" value="{{ preauth_flag }}">
    <input type="hidden" name="lang" value="{{ lang }}">
    <input type="hidden" name="cms_module_name" value='{{cms_module_name}}'>
    <input type="hidden" name="encoding" value="UTF-8">
    <input type="hidden" name="signature" value='{{signature}}' />
    <input type="hidden" name="dt" value='{{dt}}' />
    {% if exp_time %}
        <input type="hidden" name="exp_time" value='{{exp_time}}' />
    {% endif %}
    <div class="buttons">
        <div class="pull-right">
            <input type="button" value="{{ button_pay }}" id="button-confirm" class="btn btn-primary" />
        </div>
    </div>
</form>
<script type="text/javascript"><!--
    $(document).delegate('#button-confirm', 'click', function() {
        $.ajax({
            type: 'get',
            url: '{{ confirm }}',
            beforeSend: function() {
                $('#button-confirm').attr('disabled', true);
                $('#button-confirm').button('loading');
            },
            complete: function() {
                $('#button-confirm').button('reset');
            },
            success: function() {
                document.forms['checkout-portmone'].submit();
            }
        });
    });
    //--></script>
